/*
 * Styles des éléments HTML
 */
*
{
    box-sizing: border-box;
}

body
{
   
}

.nav-wrapper li a
{
    color :#b71c1c;
    font-size: 1.2em;
}
/*.nav-wrapper ul
{
   margin-left:35%;
}*/
.nav-wrapper > a
{
    margin:.3em .5%;
}
main h4
{
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid #b71c1c;
}
main span
{
    font-size: 2em;
    color :#b71c1c ;
}
main div img
{
    max-width: 100%!important;
}
fieldset
{
    /* structure */
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    /* presentation */
    border-color: #1E593B;
    border-radius: 6px;
}
fieldset legend
{
    /* structure */
    padding: 0 0.5em;

    /* presentation */
    font-weight: bold;
}

.limitsize
{
    width: 50%;
}



h1 img
{
    margin-right:2%;
}

html
{
    /*background: url('../images/background.png') repeat;*/
    overflow-y: scroll;
}

.clear
{
    clear: both;
}
/*
 * Classes génériques
 */
.hidden
{
    display: none;
}

.large
{
    font-size: 125%;
    vertical-align: bottom;
}

.layout-center
{
    text-align: center;
}

.layout-right
{
    bottom: 0;
    position: absolute;
    right: 0;
}

.link-list,
.generic-form ul
{
    /* structure */
    padding-left: 0;
    position: relative;

    /* presentation */
    list-style-type: none;
}
.link-list li
{
    display: inline-block;
}

.small
{
    font-size: 75%;
    vertical-align: bottom;
}




/*
 * CSS de la page d'accueil
 */




footer a
{
    color :#b71c1c;
}

/*******
******** FORMULAIRE 
***********/

main form p 
{
    padding: 2%;
    border-bottom:2px dashed #00695c;
}
.input-field label {
     color: #1E593B;
   }